{variables, [
  {name_option,    "-name dev@localhost"},
  {boot_args,      "-boot start_sasl"},
  {erl_vm_flags,   "+S 4 +P 2000000 +pc unicode"},
  {env_vars,        "-env ERL_MAX_ETS_TABLES 200000 -env ERL_MAX_PORTS 200000"},
  {config_files,   "-config app.config"},
  {mnesia_options,  "-mnesia dir mnesia -mnesia auto_repair true"},
  {start_services,  "-s lager -s mnesia -s reloader -s APP"}
]}.

{dir,  "ebin"}.
{template, "dev_console.sh", "ebin/dev_console.sh"}.
{chmod, 8#744, "ebin/dev_console.sh"}.