{variables, [
  {appname, "stdapp"},
  {description, "One standard OTP application"},
  {copyright_year, "2015"},
  {author_name, "Rebar Template"},
  {author_email,"me@example.com"},
  {appdir, "."}
]}.
{dir, "{{appdir}}/src"}.
{template, "stdapp.app.src", "{{appdir}}/src/{{appname}}.app.src"}.
{template, "stdapp.erl",     "{{appdir}}/src/{{appname}}.erl"}.
{template, "stdapp_app.erl", "{{appdir}}/src/{{appname}}_app.erl"}.
{template, "stdapp_sup.erl", "{{appdir}}/src/{{appname}}_sup.erl"}.
